.songs-container {
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 0px 10px;
}

.songs-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 12px;
}

.song-item {
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--bg-color);
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.31);
  box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.31);
  transition: all 200ms;
}

.song-item:hover {
  background-color: rgba(15, 23, 42, 0.6);
}

.song-item:hover .song-item__image button {
  opacity: 1;
}

.song-item__image {
  position: relative;
  width: 100%;
  height: 150px;
}

.song-item__image button {
  opacity: 0;
  transition: all 200ms;
}

.song-item__image img {
  object-fit: cover;
  border-radius: 8px;
}

.song-item__text {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 10px;
  cursor: default;
}
